* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagina-principal {
  background-color: rgb(231, 230, 230);
  position: fixed;
  top: 0px;
  width: 100%;
}
.pagina-principal h1 {
  text-align: center;
}
.pagina-principal h1 a {
  text-decoration: none;
  color: black;
}
.pagina-principal ul {
  font-size: 20px;
  display: flex;
}
.pagina-principal ul li {
  margin-left: 15px;
  list-style: none;
  padding-bottom: 5px;
}
.pagina-principal ul li a {
  text-decoration: none;
  color: black;
}

.pagina-principal .fa-bars {
  display: none;
}

@media (max-width: 481px) {
  .pagina-principal .fa-bars {
    display: block;
    margin: 10px;
    color: black;
    font-size: 20px;
    order: -1;
  }
  .pagina-principal .fa-bars:hover + ul {
    left: 0;
  }
  .pagina-principal ul {
    position: fixed;
    top: 0;
    left: -500px;
    background-color: white;
    width: 35vw;
    height: 100vw;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    transition: 0.5s;
  }
  .pagina-principal ul:hover {
    left: 0;
  }
  .pagina-principal h1 a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-left: 75px;
  }
}
.video-presentacion {
  height: 350px;
  width: 100%;
}

.proximogp6, .proximogp5, .proximogp4, .proximogp3, .proximogp2, .proximogp1 {
  width: 400px;
  height: 200px;
  background-color: rgb(231, 230, 230);
  margin: 30px;
  border: solid 1px;
  padding: 20px;
}
.proximogp6:hover, .proximogp5:hover, .proximogp4:hover, .proximogp3:hover, .proximogp2:hover, .proximogp1:hover {
  transition: 0.5s;
  transform: scale(1.13);
  background-color: rgba(175, 170, 170, 0.753);
}

.cuerpo {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: wrap;
}
.cuerpo h3 {
  text-align: center;
}
.cuerpo p {
  padding-top: 10px;
}

.proximogp {
  text-align: center;
  padding: 15px;
}

.escuderias {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(2, 50%);
  column-gap: 15px;
  row-gap: 15px;
  margin-top: 80px;
  justify-items: stretch;
  align-items: center;
  justify-content: center;
}

@media (max-width: 481px) {
  .escuderias {
    row-gap: 20px;
    margin-top: 90px;
    padding-left: 20px;
    justify-content: start;
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }
  .escuderia {
    border: solid 1px black;
    padding: 2px;
  }
}
@media (max-width: 1024px) {
  .escuderias {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 25%);
    row-gap: 5px;
    margin-top: 90px;
    padding-left: 10px;
    align-items: stretch;
  }
  .escuderia {
    border: solid 1px black;
    padding: 2px;
  }
}
@media (max-width: 768px) {
  .escuderias {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(5, 150px);
    row-gap: 60px;
    margin-top: 90px;
    align-items: stretch;
    padding: 40px;
  }
  .escuderia {
    border: solid 1px black;
    padding: 2px;
  }
}
.escuderia {
  width: 200px;
}

.formularioContacto {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 80px;
  margin-left: 100px;
  border: solid, 1px black;
  padding: 10px;
}

.contactoyregistro {
  display: flex;
  flex-direction: row;
}

@media (max-width: 481px) {
  .contactoyregistro {
    flex-direction: column;
  }
}
.tiendaVirtual {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.cajaTienda {
  border: solid 1px black;
  width: 290px;
}
.cajaTienda h2 {
  font-size: 22px;
  margin: 0px 10px;
}

.artiucloTienda {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.botonComprar {
  padding: 5px;
  margin: 20px 35px 15px;
}

.botonAgregarCarrito {
  padding: 5px;
}

.CarritoCompra img {
  height: 20px;
  position: fixed;
  right: 30px;
}

@media (max-width: 481px) {
  .CarritoCompra img {
    display: block;
    margin-top: -140px;
  }
}
@media (max-width: 1024px) {
  .tiendaVirtual {
    gap: 50px;
    margin-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .tiendaVirtual {
    gap: 50px;
    margin-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.pie-pagina {
  background-color: rgb(231, 230, 230);
  color: black;
}
.pie-pagina h2 {
  color: rgb(233, 5, 51);
  margin: 20px;
  padding-top: 10px;
}
.pie-pagina img {
  height: 20px;
}
.pie-pagina label {
  margin: 10px;
}
.pie-pagina ul li {
  margin-left: 20px;
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
