.formularioContacto{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 80px;
    margin-left: 100px;
    border: solid, 1px black;
    padding: 10px;
}

.contactoyregistro{
    display: flex;
    flex-direction: row;
    
}
@media (max-width: 481px){
    .contactoyregistro{
        flex-direction: column;
    }
}