*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

@import "pagina-principal";
@import "extend";
@import "proximogp";
@import "escuderias";
@import "formularioContacto";
@import "tiendaVirtual";
@import "pie-pagina";